body {
    font-family: 'Lato', sans-serif;
}
body.no-scroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #008489;
    cursor: pointer;
    text-decoration: none;
}

p { margin: 0; }

hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
pre.trace {
    background: #fafafa;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    padding: 15px 25px;
    overflow: hidden;
    overflow-x: auto;
}
form .button {
    position: relative;
}
form .button input[type="file"] {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
form .has-switch {
    position: absolute;
    right: 0;
    top: -3px;
}
form .group-error p {
    background: rgba(0,0,0,.025);
    border-left: 3px solid #f44336;
    color: #f44336;
    font-size: .8rem;
    opacity: 1;
    line-height: 36px;
    margin: 10px 0;
    padding-left: 15px;
    transition: .2s opacity ease-out,.2s color ease-out;
}
form label {
    color: #666;
}
form input,
form textarea {
    font-family: 'Lato', sans-serif;
}
form.big label {
    font-size: 1.25rem;
}
form.big input {
    font-size: 1.5rem;
}
form [type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form [type="checkbox"] + label:before,
form [type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}
form [type="checkbox"]+label:before,
form [type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}
form [type="checkbox"]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
form [type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
form [type="checkbox"]:not(.filled-in)+label:after {
     border: 0;
     -webkit-transform: scale(0);
     transform: scale(0);
 }
form [type="checkbox"].filled-in + label:before,
form [type="checkbox"].filled-in + label:after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}
form [type="checkbox"].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
form [type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
}

form [type="radio"]:not(:checked) + label,
form [type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
form [type="radio"] + label:before,
form [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
form [type="radio"]:not(:checked) + label:before,
form [type="radio"]:not(:checked) + label:after {
    border: 2px solid #5a5a5a;
}
form [type="radio"]:checked+label:before {
    border: 2px solid transparent;
}
form [type="radio"]:not(:checked) + label:before,
form [type="radio"]:not(:checked) + label:after,
form [type="radio"]:checked + label:before,
form [type="radio"]:checked + label:after,
form [type="radio"].with-gap:checked + label:before,
form [type="radio"].with-gap:checked + label:after {
    border-radius: 50%;
}
form [type="radio"]:checked + label:after,
form [type="radio"].with-gap:checked + label:before,
form [type="radio"].with-gap:checked + label:after {
    border: 2px solid #26a69a;
}
form [type="radio"]:checked + label:after,
form [type="radio"].with-gap:checked + label:after {
    background-color: #26a69a;
}
form [type="radio"].with-gap:checked + label:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

form .availability .character-counter {
    display: none;
}
form .input-rating i {
    font-size: 36px !important;
    letter-spacing: -0.1em;
    cursor: pointer;
}
form .input-rating span {
    height: 51px;
    line-height: 51px;
}
form .input-rating .stars .star {
    display: inline-block;
    margin-top: 8px;
}
form .input-rating .stars .star.on .light {
    display: inline-block;
    color: #ff9800;
}
form .input-rating .stars .star.on .lighter {
    display: none;
}
form .input-rating .stars .star.off .light {
    display: none;
}
form .input-rating .stars .star.off .lighter {
    display: inline-block;
}

main {
    min-height: calc(100vh - 307px);
    padding-top: 75px;
}
body.page-index main,
body.page-detail main {
    padding-top: 180px;
}

.layout-portrait_lores main {
    margin-top: 51px;
}

.row.nogutter .col,
.row .col.nogutter {
    padding-left: 0;
    padding-right: 0;
}

.db  { display: block; }
.di  { display: inline; }
.dib { display: inline-block; }
.dn  { display: none; }

.abs { position: absolute; }
.fix { position: fixed; }
.rel { position: relative; }

.h100 { height: 100px; }
.h200 { height: 200px; }
.h300 { height: 300px; }

.x10 { font-size: 10px; }
.x11 { font-size: 11px; }
.x12 { font-size: 12px; }
.x13 { font-size: 13px; }
.x14 { font-size: 14px; }
.x16 { font-size: 16px; }
.x18 { font-size: 18px; }
.x20 { font-size: 20px; }
.x24 { font-size: 24px; }
.x32 { font-size: 32px; }
.x36 { font-size: 36px; }
.x40 { font-size: 40px; }
.x48 { font-size: 48px; }

.alc { text-align: center; }
.all { text-align: left; }
.alr { text-align: right; }

.ctr { margin: 0 auto; }

.mt0  { margin-top: 0; }
.mt5  { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt50 { margin-top: 50px; }
.mt75 { margin-top: 75px; }
.mt100 { margin-top: 100px; }

.mb0   { margin-bottom: 0; }
.mb5   { margin-bottom: 5px; }
.mb10  { margin-bottom: 10px; }
.mb15  { margin-bottom: 15px; }
.mb20  { margin-bottom: 20px; }
.mb25  { margin-bottom: 25px; }
.mb30  { margin-bottom: 30px; }
.mb35  { margin-bottom: 35px; }
.mb40  { margin-bottom: 40px; }
.mb45  { margin-bottom: 45px; }
.mb50  { margin-bottom: 50px; }
.mb75  { margin-bottom: 75px; }
.mb100 { margin-bottom: 100px; }

.mr0   { margin-right: 0; }
.mr5   { margin-right: 5px; }
.mr10  { margin-right: 10px; }
.mr15  { margin-right: 15px; }
.mr20  { margin-right: 20px; }
.mr25  { margin-right: 25px; }
.mr40  { margin-right: 40px; }
.mr50  { margin-right: 50px; }

.ml0   { margin-left: 0; }
.ml5   { margin-left: 5px; }
.ml10  { margin-left: 10px; }
.ml15  { margin-left: 15px; }
.ml20  { margin-left: 20px; }
.ml25  { margin-left: 25px; }
.ml40  { margin-left: 40px; }
.ml50  { margin-left: 50px; }

.p0  { padding: 0; }
.p5  { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p50 { padding: 50px; }

.pt0  { padding-top: 0; }
.pt5  { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }

.pl24 { padding-left: 24px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl32 { padding-left: 32px; }
.pl35 { padding-left: 35px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl48 { padding-left: 48px; }
.pl50 { padding-left: 50px; }

.pb0   { padding-bottom: 0; }
.pb5   { padding-bottom: 5px; }
.pb10  { padding-bottom: 10px; }
.pb15  { padding-bottom: 15px; }
.pb20  { padding-bottom: 20px; }
.pb25  { padding-bottom: 25px; }
.pb30  { padding-bottom: 30px; }
.pb35  { padding-bottom: 35px; }
.pb40  { padding-bottom: 40px; }
.pb45  { padding-bottom: 45px; }
.pb50  { padding-bottom: 50px; }
.pb75  { padding-bottom: 75px; }
.pb100 { padding-bottom: 100px; }

.lh1 { line-height: 1; }
.lh10 { line-height: 10px; }
.lh11 { line-height: 11px; }
.lh12 { line-height: 12px; }
.lh13 { line-height: 13px; }
.lh14 { line-height: 14px; }
.lh15 { line-height: 15px; }
.lh16 { line-height: 16px; }
.lh17 { line-height: 17px; }
.lh18 { line-height: 18px; }
.lh19 { line-height: 19px; }
.lh20 { line-height: 20px; }
.lh21 { line-height: 21px; }
.lh22 { line-height: 22px; }
.lh23 { line-height: 23px; }
.lh24 { line-height: 24px; }
.lh25 { line-height: 25px; }
.lh26 { line-height: 26px; }
.lh27 { line-height: 27px; }
.lh28 { line-height: 28px; }
.lh29 { line-height: 29px; }
.lh30 { line-height: 30px; }
.lh32 { line-height: 32px; }

.vb { vertical-align: bottom; }
.vm { vertical-align: middle; }
.vt { vertical-align: top; }

.w0   { width: 0; }
.w25  { width: 25%; }
.w50  { width: 50%; }
.w100 { width: 100%; }

.h0   { height: 0; }
.h25  { height: 25%; }
.h50  { height: 50%; }
.h100 { height: 100%; }

.darker  { color: #000; }
.dark    { color: #333; }
.grey    { color: #666; background-color: transparent !important; }
.light   { color: #999; }
.lgrey   { color: #999; }
.lighter { color: #ccc; }
.whitxt  { color: #fff; }
.tred    { color: #f44336; }
.lred    { color: #ff5a5f; }

.bglight   { background-color: #f5f5f5; }
.bgdark    { background-color: #444; color: #fff; }
.bgdarker  { background-color: #222; color: #fff; }
.bgdark .darker,
.bgdark .dark { color: #fff; }
.bgdark .grey { color: #ddd; }
.bgdark .light,
.bgdark .lighter { color: #bbb; }

.normal { font-style: normal; }
.italic { font-style: italic; }
.bold   { font-weight: bold; }

.upper  { text-transform: uppercase; }
.lower  { text-transform: lowercase; }

.pointer { cursor: pointer; }

.ellipsed {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mask {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.transitioned {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.static_content ol {
    padding: 0;
}

.static_content .bold {
    font-size: 16px;
    color: #333;
}

.static_index a {
    color: #484848;
    display: block;
    margin-bottom: 10px;
}

.currency:after {
    font-size: .875em;
    content: "\20AC ";
}

.cookies {
    background: #000;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}
.cookies p {
    padding-right: 35px;
}
.cookies a {
    color: #fff;
}
.cookies .close {
    margin-top: -15px;
    position: absolute;
    right: 0;
    top: 50%;
}

.flash .alert {
    border-left: 3px solid #f44336;
    font-size: 1rem;
    opacity: 1;
    line-height: 36px;
    margin: 10px 0;
    padding-left: 15px;
    transition: .2s opacity ease-out,.2s color ease-out;
}
.flash .alert-error {
    background: rgba(0,0,0,.025);
    border-left-color: #f44336;
    color: #f44336;
}
.flash .alert-success {
    background: rgba(0,0,0,.025);
    border-left-color: #4caf50;
    color: #4caf50;
}


.jumbo,
.jumbo .carousel,
.jumbo .parallax-container {
    max-height: calc(100vh - 200px);
    position: relative;
    overflow: hidden;
}

.jumbo.portrait {
    max-height: none;
}

.item {
    display: block;
}
.item .parallax-container {
    max-height: calc(100vh - 210px);
}
.item .parallax-container .overlay {
    background: rgba(38,38,38,.7);
    bottom: 0;
    color: #fff;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .4s;
}
.item .parallax-container .overlay .inner {
    display: block;
    margin: 75px auto 0;
    text-align: center;
    vertical-align: middle;
    width: 75%;
}
.item .parallax-container:hover .overlay {
    opacity: 1;
    transition: opacity .4s;
}
.item.regular .parallax-container:hover .overlay .opt {
    display: none;
}

.media-item .mark {
    display: block;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    left: 5px;
    opacity: 0.5;
    padding: 6px 12px;
    position: absolute;
    top: 16px;
    transition: opacity linear 0.15s;
}
.media-item .delete {
    color: #333;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
}
.media-item .delete:hover {
    color: #000;
    opacity: 1;
}
.media-item .card {
    border: 2px solid transparent;
    cursor: pointer;
}
.media-item .card:hover,
.media-item .card:active {
    border-color: #ccc;
}
.media-item .card .card-error {
    background: #f44336;
    color: white;
    font-size: 12px;
    margin: 0 -1px;
    padding: 15px 25px;
}
.media-item .card .card-error p {
    margin-right: 25px;
    overflow: hidden;
}
.media-item .media-progress {
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
}
.media-item .media-progress .progress-bar {
    color: #ff5a5f !important;
}
.media-item.error .delete {
    color: #fff;
}
.media-item.error .media-progress {
    display: none;
}
.media-item.error .media-preview,
.media-item.nopreview .media-preview {
    display: none;
}
.media-item.done .media-progress .progress-bar {
    width: 100% !important;
}
.media-item.selected .card {
    border-color: #F44336;
}
.media-item.selected .mark {
    display: block;
    opacity: 1;
}

.grid-item .card:hover {

}
.grid-item .card .card-content p {
    color: inherit;
    margin-bottom: 10px;
}

.grid-item .card .card-content p.lred {
    color: #ff5a5f;
}

.grid-item .card .card-content p.mb0 {
    margin-bottom: 0;
}

.grid-item .card .card-content .generic_fee,
.grid-item .card .card-content .generic_fee > * {
    font-size: 16px !important;;
    color: #999 !important;
}

.hero-img {
    width: 100%;
}

.overlay {
    background: #ffffff;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 6;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -moz-transition: -moz-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -o-transition: -o-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99),-moz-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99),-o-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99),transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.overlay.top-down {
    -webkit-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -o-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    transform: translateY(-110%);
}

.overlay.left-to-right {
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
}

.overlay.right-to-left {
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -o-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
}

.overlay.top-down.open,
.overlay.right-to-left.open,
.overlay.left-to-right.open {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
}

.overlay.right-to-left.open {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
}

.overlay .overlay-close {
    border-radius: 50%;
    color: #666;
    cursor: pointer;
    height: 48px;
    line-height: 69px;
    opacity: 0.7;
    position: fixed;
    right: 64px;
    top: 95px;
    width: 48px;
    text-align: center;
    transition: opacity linear 0.5s;
    z-index: 1000;
}
.overlay .overlay-close:hover {
    background: rgba(0,0,0,0.07);
    color: #333;
    opacity: 1;
}
.overlay .overlay-close i {
    font-size: 32px;
}
.overlay .search-form,
.overlay .online-advertiser-form,
.overlay .online-peer-form {
    margin-top: 200px;
}
.overlay .search-form input[type=search],
.overlay .online-advertiser-form input[type=text],
.overlay .online-peer-form input[type=text] {
    font-size: 36px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.overlay .search-form input[type=submit] {
    display: none;
}
.overlay .menu {
    font-size: 24px;
    line-height: 64px;
    margin-top: 100px;
}
.overlay .menu li a:active,
.overlay .menu li a:hover {
    color: #f44336;
}

.overlay.overlay-menu {
    padding-top: 75px;
}
body.page-index .overlay.overlay-menu,
body.page-detail .overlay.overlay-menu,
body.page-index .overlay.overlay-filter,
body.page-detail .overlay.overlay-filter {
    padding-top: 180px;
}
.overlay.overlay-filter .filter-wrapper {
    height: calc(100vh - 252px);
    overflow: hidden;
    overflow-y: auto;
}
.overlay.overlay-filter .row {
    margin-bottom: 0;
}
.overlay.overlay-filter form p:last-child {
    margin-bottom: 10px;
}
.overlay.overlay-filter form [type="checkbox"] + label {
    display: inline-block;
    font-size: 1.25rem;
    overflow: hidden;
    padding-right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.overlay.overlay-filter form .col.input-field {
    margin-top: 0;
}
.overlay.overlay-filter ul.tabs {
    background: transparent;
}

.overlay.overlay-filter .menu .active {
    font-weight: bold;
}
.overlay.overlay-filter .filter-actions {
    background: #fff;
    bottom: 0;
    border-top: 1px solid #dbdbdb;
    height: 72px;
    left: 0;
    padding: 14px 0;
    position: absolute;
    right: 0;
    top: auto;
}

.overlay .chat-session,
.overlay .chat-sessions {
    height: 100%;
    position: relative;
    width: 100%;
}

.overlay .chat-session .overlay-close,
.overlay .chat-sessions .overlay-close {
    top: 12px;
}

.overlay .chat-session .fab-send {
    bottom: 25px !important;
}

.overlay .invalid-advertiser-email {
    position: absolute;
    top: 175px;
}

.overlay .chat-session .chat-session-header,
.overlay .chat-sessions .chat-sessions-header {
    border-bottom: 1px solid #dbdbdb;
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.overlay .chat-session .chat-session-form {
    border-top: 1px solid #dbdbdb;
    height: 110px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.overlay .chat-session .chat-session-messages,
.overlay .chat-sessions .chat-sessions-content {
    bottom: 110px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 70px;
}

.overlay .chat-session .chat-session-messages .message {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.overlay .chat-session .chat-session-messages .message.p2u {
    text-align: right;
}

.overlay .chat-session .chat-session-messages .message.u2p {
    text-align: left;
}

.overlay .chat-session .chat-session-messages .message .content {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    max-width: 75%;
    padding: 15px 25px;
    position: relative;
    text-align: left;
}

.overlay .chat-session .chat-session-messages .message.p2u .content {
    background-color: #f3e5f5;
    margin-right: 15px;
}

.overlay .chat-session .chat-session-messages .message.u2p .content {
    background-color: #ffebee;
    margin-left: 15px;
}

.overlay .chat-session .chat-session-messages .message.p2u .author {
    text-align: right;
}

.overlay .chat-session .chat-session-messages .message .content:after {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.overlay .chat-session .chat-session-messages .message.p2u .content:after {
    top: 15px;
    border-width: 15px 15px 0 0;
    border-color: #f3e5f5 transparent transparent transparent;
    right: -15px;
}

.overlay .chat-session .chat-session-messages .message.u2p .content:after {
    bottom: 15px;
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #ffebee transparent;
    left: -15px;
}

.overlay .chat-session .chat-session-form textarea {
    border: 0 none;
    font-size: 18px;
    height: 80px;
    left: 10%;
    margin: 0 auto;
    padding: 10px 15px;
    position: absolute;
    top: 15px;
    width: 80%;
}

.page-detail .experience-form {
    z-index: 8;
}


/* ---- */

.sm-only {
    display: none;
}

.line {
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 15px;
}

.line.mt15 {
    margin-top: 15px;
}

.button {
    background: #ff5a5f;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Lato, sans-serif;
    padding: 8px 15px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.button.dn {
    display: none;
}
.button.big {
    padding: 12px 24px;
}

.button.white {
    border-color: #008489;
    background: #fff;
    color: #484848;
}

.button.red {
    border-color: transparent;
    background: #ff5a5f;
    color: #fff;
}

.button.fill,
.button.fill > * {
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.button.fill:hover {
    z-index: 3;
    background: transparent;
    color: white;
}
.button.fill:hover > *,
body.page-payment .product-col:hover .button.fill,
body.page-payment .product-col:hover .button.fill > * {
    top: 0;
    z-index: 3;
    background: transparent;
    color: white;
}
body.page-payment .product-col .product-desc {
    height: 90px;
}
body.page-payment .product-col .card {
    cursor: pointer;
    border: 2px solid transparent;
    margin: 23px -2px 1rem -2px;
}
body.page-payment .product-col:hover .card,
body.page-payment .product-col.active .card {
    margin: 23px -2px 1rem -2px;
    border: 2px solid #f44336;
}
body.page-payment .product-col.active .card .button.fill,
body.page-payment .product-col.active .card .button.fill > * {
    background: transparent;
    color: white;
    top: 0;
    z-index: 3;
}
body.page-payment .product-col.active .card .button.fill::before {
    top: 0;
}
.button.fill::before {
    content: "";
    position: absolute;
    background: #ff5a5f;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}
.button.fill:hover::before,
body.page-payment .product-col:hover .button.fill::before {
    top: 0;
}
body.page-payment .product-col.product-small .label.x16,
body.page-payment .product-col.product-small .desc.x16 {
    font-size: 14px;
}
body.page-payment .product-col.product-small .currency.x32 {
    font-size: 24px;
}
body.page-payment .product-col.product-small .sec-dn {
    display: none;
}
body.page-payment .product-col.product-small .card-content {
    padding: 20px;
}

nav.menu {
    background: #ffffff;
    border-bottom: 1px solid #DBDBDB;
    box-shadow: none !important;
    height: 75px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
}
body.page-index nav.menu,
body.page-detail nav.menu {
    height: 180px;
}
body.page-detail .cursor {
    background: #ff5a5f;
    color: white;
    cursor: pointer;
    height: 56px;
    line-height: 56px;
    margin-top: -28px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 56px;
    z-index: 3;
}
body.page-detail .cursor i {
    display: block;
    font-size: 32px;
    line-height: 56px;
}
body.page-detail .cursor.cursor-prev {
    border-radius: 0 50% 50% 0;
    left: -5px;
}
body.page-detail .cursor.cursor-next {
    border-radius: 50% 0 0 50%;
    right: -5px;
}
nav.menu .row {
    margin-bottom: 0;
    font-size: 0;
}
nav.menu .row .col {
    margin-bottom: 0;
}
nav.menu .col-filter-location .autocomplete-content {
    position: absolute;
    left: 0;
    right: 0;
}

nav.menu .submit-btn {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 56px;
    height: 56px;
    line-height: 56px;
    padding: 0;
    background-color: #26a69a;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav.menu .input-field {
    font-size: 1rem;
}
nav.menu .input-field > label {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
nav.menu .input-field input:focus,
nav.menu .input-field input.focus,
nav.menu .input-field input[type=text]:valid,
nav.menu .input-field input[type=password]:valid,
nav.menu .input-field input[type=email]:valid,
nav.menu .input-field input[type=url]:valid,
nav.menu .input-field input[type=date]:valid {
    border-bottom: 1px solid #9e9e9e;
}
nav.menu .input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-18px) scale(0.8);
    transform: translateY(-18px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
nav.menu .select-wrapper input.select-dropdown {
    margin: 6px 0 8px 0;
}
nav.menu .select-wrapper + label.active {
    font-size: 1.25rem;
    top: 0;
}

nav.menu .menu-action {
    color: #008489;
    height: 75px !important;
    line-height: 75px !important;
    position: absolute;
    top: 0;
    width: 75px;
    text-align: center;
    z-index: 3;
}
nav.menu .menu-action i {
    height: 75px !important;
    line-height: 75px !important;
    width: 75px;
}
nav.menu .menu-action-btn::before {
    background: none;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 75px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-property: transform,opacity;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    width: 75px;
    z-index: -1;
}
nav.menu .menu-action-btn:hover::before {
    background-color: rgba(32,33,36,0.059);
    border: none;
    opacity: 1;
    transform: scale(1);
}

nav.menu .menu-action:active,
nav.menu .menu-action:hover {
    color: #ff5a5f;
}

nav.menu .menu-action.menu-left {
    left: 0;
}

nav.menu .menu-action.menu-right {
    right: 0;
}

nav.menu .menu-action.menu-publish {
    right: 75px !important;
}
nav.menu .menu-action.menu-publish .badge {
    border-radius: 3px;
    color: #fff;
    float: none;
    height: 26px;
    line-height: 18px;
    padding: 4px 12px;
    position: absolute;
    right: 85px;
    top: 26px;
}

nav.menu .logo {
    color: #f44336;
    cursor: pointer;
    font-size: 32px;
    height: 75px !important;
    line-height: 75px !important;
}
nav.menu .logo > * {
    display: inline-block;
    vertical-align: top;
}
nav.menu .logo img {
    height: 56px;
    left: 0;
    padding-top: 12px;
}
nav.menu .logo .lemma {
    padding-left: 15px;
}

nav.menu .links {
    height: 75px;
    max-width: 100%;
    overflow: hidden;
}
nav.menu .links .link,
nav.menu .links .separator {
    color: #008489;
    display: inline-block;
    font-size: 15px;
    height: 75px !important;
    line-height: 75px !important;
}
nav.menu .links .link.active {
    color: #484848;
    font-weight: bold;
}
nav.menu .links .separator {
    display: inline-block;
    text-align: center;
    width: 20px;
}

body.page-index .card.promoted {
    overflow: hidden;
}
body.page-index .promoted .dbadge {
    background: #ff0000;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    min-width: 300px;
    padding: 5px 100px;
    position: absolute;
    right: -20px;
    text-align: center;
    text-transform: uppercase;
    top: -40px;
    transform: rotate(45deg) translate(37%, 0);
    white-space:nowrap;
    z-index: 1;
}

body.page-manage .card-action a.button {
    margin-right: 10px !important;
}
body.page-manage .promote-form input[type=checkbox] + label,
body.page-manage .promote-form input[type=radio] + label {
    font-size: 1.25rem;
}
body.page-manage .promote-form .credits-info .message {
    background: rgba(0,0,0,.025);
    border-left: 3px solid #4caf50;
    color: #4caf50;
    font-size: 1rem;
    opacity: 1;
    line-height: 36px;
    margin: 10px 0;
    padding-left: 15px;
    transition: .2s opacity ease-out,.2s color ease-out;
}
body.page-manage .promote-form .credits-info .message.error {
    background: rgba(0,0,0,.025);
    border-left-color: #f44336;
    color: #f44336;
}

body.page-detail {
    color: #484848;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
}

body.page-detail h1 {
    color: #484848;
    font-size: 36px;
    font-weight: bold;
}

body.page-detail h2 {
    color: #ff5a5f;
    font-size: 16px;
    font-weight: bold;
}

body.page-detail h3 {
    color: #39576a;
    font-size: 24px;
    font-weight: bold;
}

body.page-detail .ad-carousel {
    height: calc(100vh - 240px);
    overflow: hidden;
}

body.page-detail .ad-carousel.portrait {
    height: auto;
    max-height: none;
    overflow: hidden;
}

body.page-detail .view-images {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 2;
}

body.page-detail .add-experience {
    float: right;
}
body.page-detail .ad-experience {
    position: relative;
}
body.page-detail .ad-experience .comments-icon {
    position: absolute;
    top: 34px;
    left: 16px;
}

body.page-detail .advertiser-is-online,
body.page-detail .advertiser-is-offline {
    position: absolute;
    right: 51px;
    top: 75px;
    z-index: 2;
}

body.page-detail .gmap .responsive-img {
    width: 100%;
}

body.page-detail .see-on-maps {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
}

body.page-detail aside.aside {
    margin: 15px 0;
    background-color: #fff;
}

body.page-detail aside.aside .bounding-box {
    background: #ffffff;
    border: 1px solid #e4e4e4;
    padding: 15px 25px;
}

body.page-detail aside.aside h3 {
    font-size: 14px;
}

body.page-detail aside.fix {
    background: #fff;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    padding: 20px 0;
    right: 0;
    z-index: 3;
}

body.page-detail aside.fix .row {
    margin-bottom: 0;
}

body.page-detail nav.menu .menu-action.menu-more {
    display: none;
}

body.page-detail .fixed-action-btn {
    bottom: 27px !important;
}

body.page-detail .round-frame .material-placeholder {
    border-radius: 4px;
    overflow: hidden;
}

body.page-detail .chat {
    background: #fff;
    bottom: 0;
    display: none;
    left: 0;
    padding: 51px 0 76px;
    position: fixed;
    right: 0;
    top: 0;
}

body.page-detail .chat.open {
    display: block;
    z-index: 2;
}

body.page-payment .hgroup img {
    width: 128px;
    max-width: 128px;
    margin-bottom: 15px;
    margin-top: 75px;
}
body.page-payment .product-col .badge {
    border-radius: 4px;
    color: #fff;
    float: none;
}


body.page-payment .carousel form [type="radio"]:not(:checked) + label,
body.page-payment .carousel form [type="radio"]:checked + label {
    height: auto;
    padding: 15px 0;
}

body.page-publish {
    overflow-x: hidden;
}
body.page-publish .uploader .media.row,
body.page-publish .uploader-items {
    max-width: 100%;
}
body.page-publish .uploader.videos .media-preview .mark.badge {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

footer .foot-logo img {
    max-width: 50%;
    max-height: 125px;
}
footer .l1 {
    padding-bottom: 1.5rem;
}
footer .l1 .row {
    margin-bottom: 0;
}

#ad-experience-panel {
    z-index: 7;
}

#free-promotion-panel {
    z-index: 8;
}

@media only screen and (max-width: 1100px) {
    body.page-detail .chat-call.x32 {
        font-size: 24px !important;
    }

    body.page-index h2,
    body.page-index h2 .card-name,
    body.page-index h2 .card-category {
        font-size: 14px !important;
    }
    body.page-index .card-action .loc {
        font-size: 12px !important;
    }
    nav.menu .menu-action.menu-more {
        display: none !important;
    }
    nav.menu .menu-action.menu-publish {
        right: 0 !important;
    }
}

@media only screen and (max-width: 992px) {
    .sm-hidden {
        display: none !important;
    }

    .sm-only {
        display: block !important;
    }

    body.page-index .card-content .all-tags {
        display: none !important;
    }
    body.page-detail footer .l1 {
        margin-bottom: 100px;
    }
    body.page-detail .cursor-prev {
        transform: translateX(-20px);
        transition: transform linear 0.15s;
    }
    body.page-detail .cursor-next {
        transform: translateX(20px);
        transition: transform linear 0.15s;
    }
    body.page-detail .cursor:hover {
        transform: translateX(0);
    }

    .jumbo,
    .jumbo .carousel,
    .jumbo .parallax-container {
        max-height: calc(100vh - 150px);
    }

    body.page-detail .jumbo,
    body.page-detail .jumbo .carousel.portrait {
        height: auto;
        max-height: none;
        overflow: hidden;
    }

    body.page-payment .hgroup img {
        width: 96px;
        max-width: 96px;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    body.page-detail h1 {
        font-size: 32px;
    }

    body.page-detail h3 {
        font-size: 20px;
    }

    body.page-detail .detail-fees .x24,
    body.page-detail .detail-availability .x24 {
        font-size: 20px !important;
    }

    body.page-detail .detail-fees .x24 sup,
    body.page-detail .detail-availability .x24 sup {
        white-space: nowrap;
    }

    body.page-publish fieldset.map-wrapper {
        width: 100vw;
        margin-left: -5.5%;
    }
    body.page-publish fieldset.map-wrapper .col.s12.map {
        padding: 0;
    }
}

@media only screen and (min-width: 0) and (max-width: 768px) {

    nav.menu .menu-action.menu-publish .badge {
        right: 38px !important;
    }

    body.page-payment .product-col img {
        height: 16px;
        width: 16px;
    }
    body.page-payment .product-col .product-desc {
        height: auto;
        margin-bottom: 0;
    }
    body.page-payment .product-col img,
    body.page-payment .product-col .button {
        display: none;
    }
    body.page-payment .product-col .card {
        margin: 15px -2px 0.5rem -2px;
    }
}

@media only screen and (min-width: 0) and (max-width: 667px) {
    h1.x40 {
        font-size: 32px;
    }

    nav.menu {
    }
    nav.menu.scroll {
        height: 75px !important;
    }
    nav.menu.scroll .filter-form {
        display: none;
    }
    nav.menu .logo {
        height: 64px !important;;
        line-height: 64px !important;
    }
    nav.menu .logo .lemma {
        display: none !important;
    }
    nav.menu .menu-action {
        width: 41px !important;
    }
    nav.menu .submit-btn,
    nav.menu .submit-btn i {
        height: 48px;
        line-height: 48px;
        width: 48px;
        font-size: 20px;
    }
    nav.menu .input-field {
        margin-top: 0rem;
        margin-bottom: 0.25rem;
    }
    nav.menu .input-field > select,
    nav.menu .input-field .select-wrapper input,
    nav.menu .input-field > input[type=text] {
        font-size: 1em;
        height: 2rem;
        margin-top: 0;
    }
    nav.menu .input-field > label {
        font-size: 1em;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    nav.menu .select-wrapper input.select-dropdown {
        height: 36px;
        margin: 6px 0 8px 0;
    }
    nav.menu .select-wrapper + label.active {
        font-size: 1rem;
        top: 0;
    }
    nav.menu .col-filter-search,
    nav.menu .col-filter-tags {
        position: absolute;
        top: 120px;
    }
    nav.menu .col-filter-search {
        left: 0;
    }
    nav.menu .col-filter-tags {
        left: 50% !important;
    }

    .overlay-filter .filter-actions button span {
        font-size: 14px;
    }
    .overlay-menu .menu {
        line-height: 48px;
        margin-top: 25px;
    }
    .overlay-menu .menu li a {
        font-size: 20px;
    }

    body.page-payment .hgroup img {
        width: 64px;
        max-width: 64px;
        margin-bottom: 10px;
        margin-top: 25px;
    }
    body.page-payment .panels,
    body.page-payment .panels .panel {
        height: auto;
        min-height: 100vh;
        position: relative;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate(0, 0);
    }

    body.page-index .col.s6 .ad-currency {
        font-size: 16px;
    }
    body.page-index .col.s6 .ad-title {
        display: none;
    }
    body.page-index .card h2 {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    body.page-index .card p.ad-currency {
        font-size: 24px;
    }
    body.page-index .card p.ad-currency .generic_fee sup {
        font-size: 12px !important;
    }
    body.page-index .card .card-action a {
        font-size: 12px;
    }
    body.page-index .card .card-content {
        padding: 16px;
    }
    body.page-index .card .card-content .card-age,
    body.page-index .card .card-content .card-category,
    body.page-index .card .card-content .card-rating,
    body.page-index .card .card-content .all-tags {
        display: none !important;
    }
    body.page-index .card .card-action {
        padding: 8px 16px;
    }

    body.page-detail h1 {
        font-size: 24px;
    }
    body.page-detail h3 {
        font-size: 18px;
    }
    body.page-detail .ad-text p.x18 {
        font-size: 16px !important;
    }
    body.page-detail .detail-availability {
        margin-top: 25px;
    }
    body.page-detail #ad-experiences h3 {
        margin-top: 0;
    }

    body.page-feedback h1 {
        font-size: 32px;
    }
    body.page-feedback .offset-m2 .x24 {
        font-size: 18px;
    }
    body.page-feedback .feedback-icon {
        margin-top: 35px;
    }

    .overlay .search-form,
    .overlay .online-advertiser-form,
    .overlay .online-peer-form {
        margin-top: 150px;
    }
    .overlay.overlay-filter .input-field input[type=text],
    .overlay.overlay-filter .input-field input[type=number] {
        font-size: 1.25em;
        height: 3rem;
    }

    body.page-manage .promote-form {
        margin-top: 50px;
        height: 100vh;
    }
    body.page-manage h1,
    body.page-manage h2 {
        font-size: 30px;
    }
    body.page-manage .num-ads,
    body.page-manage .num-credits {
        font-size: 18px;
    }
}

@media only screen and (min-width: 993px) {

    .jumbo {
        margin: 0 auto;
        max-width: 1280px;
        overflow: hidden;
        width: 70%;
    }
}
