<a class="dn cursor cursor-prev" href="#" title="Ver anuncio previo">
    <i class="material-icons">chevron_left</i>
</a>
<a class="dn cursor cursor-next" href="#" title="Ver siguiente anuncio">
    <i class="material-icons">chevron_right</i>
</a>