<div class="message">
    <div class="content">
        <p class="x12">
            <span class="from bold dark"></span>
            <span class="light"> · </span>
            <span class="light time"></span>
        </p>
        <p class="text x16 grey"></p>
    </div>
</div>
