<div class="input col {% if size is defined %}{{ size }}{% else %}s{% if cols is defined %}{{ cols }}{% else %}12{% endif %} l{% if cols is defined %}{{ cols }}{% else %}12{% endif %}{% endif %}{% if field.getAttribute('fill') %} filled-in{% endif %}">
    <input class="filled-in {% if field.getAttribute('filled') %}filled-in{% endif %}{% if field.hasMessages() %} invalid{% endif %}" type="checkbox" id="{{ field.getName() }}" name="{{ field.getName() }}" value="{{ field.getAttribute('value') }}"{% if field.getAttribute('required') %} required="required"{% endif %}{% if field.getValue() %} checked="checked"{% endif %}{% if field.hasMessages() %} data-error="{% for msg in field.getMessages() %}{{ msg }} {% endfor %}"{% endif %} tabindex="{{ helper.nextTabIndex() }}" />
    <label for="{{ field.getName() }}">{{ helper.trans(field.getLabel()) }} {% if field.getAttribute('required') %}{{ helper.trans('app.label.required') }}{% endif %}</label>
</div>
